<html>
<head>
    <title>Página home</title>
</head>
<body>
    <h1>Titudo da pagina</h1>
    <hr/>

    Opa{{ user.name }},  você já tem {{ user.age }}anos?
    {{#showOld}}
        Como vai a vida?
    {{/showOld}}

    <hr/>
    <h2>Produtos</h2>
    <ul>
        {{#products}}
            <li>{{title}} - R${{price}}</li>
        {{/products}}
    </ul>


    <hr/>
    <h2>Produtos a partir de R$ 12,00</h2>
    <ul>
        {{#expansives}}
            <li>{{title}} - R${{price}}</li>
        {{/expansives}}
    </ul>

    <hr/>

    <ul>
        {{#frasesDoDia}}
            <li>{{.}}</li>
        {{/frasesDoDia}}
    </ul>

</body>
</html>