<h2>Qual seu nome?</h2>
<form method="get">
    <input type="text" name="nome" placeholder="Digite seu nome">
    <input type="submit" value="Enviar">
</form>

<hr/>

{{#nome}}
    Opa {{nome}}, tudo bem? você tem {{idade}} anos.
{{/nome}}